version: '3.8'

services:
  white-paper-landing:
    build:
      context: .
      dockerfile: Dockerfile
      shm_size: '2gb'
    container_name: white-paper-landing
    mem_limit: 4g
    ports:
      - "8001:80"
    restart: unless-stopped
    environment:
      - NODE_ENV=production
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
